.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
  }
  
  .icon {
    margin-right : 100px;
    display: flex;
    align-items: center; /* 아이콘을 수직 가운데 정렬 */
  }
  
  .icon-play {
    margin-right: 10px;
    width: 15px;
    height: 15px;
  }
  
  .icon-pause {
    margin-right: 10px;
    width: 15px;
    height: 15px;
  }
  
  h1 {
    flex: 1; /* h1이 남는 공간을 모두 차지하도록 설정 */
    text-align: center; /* 가운데 정렬 */
    margin: 0; /* 기본 마진 제거 */
  }
  .Graph {
    overflow: scroll;
  }
  
