.App-header {
  display: flex;

}

.App-container {
  display: flex;
  
}

.App-navigation {
  margin-top: 20px;
  margin-left: 20px;
  width: 140px;
  flex-shrink: 0;
  border: 1px solid gray;
  display: flex; /* 아이템을 가운데 정렬하기 위해 flex로 설정 */
  flex-direction: column;
}
.App-main {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 10px;
  flex: 1; /* 남은 공간을 차지 */
  border: 1px solid gray;
}